<div class="content">
    <div class="content-head">
        <p class="hea1">BE OUR GUEST</p>
        <p class="hea2">Read Our Blog</p>
    </div>
    <div class="scroll">
        <div class="scroll1" data-aos="fade-up">
            <div class="img1">
                <img src="/assets/images/waiter.jpg" alt=" waiter"> 
            </div>
            <p>
                <span class="border"></span>  <span class="name color">WineGrowing</span>  .  <span class="date color">April 21,2020</span>
                <br><span class="comments color">0 Comments</span>
                <br><br>
                <span class="details">
                    A history of wine <br>
                    making in South Africa
                </span>  
            </p>
        </div>
        <div class="scroll1" data-aos="fade-up">
            <div class="img1">
                <img src="/assets/images/redwine.jpg" alt=" redwine"> 
            </div>
            <p>
                <span class="border"></span>  <span class="name color">WineGrowing</span>  .  <span class="date color">April 21,2020</span>
                <br><span class="comments color">0 Comments</span>
                <br><br>
                <span class="details">
                    Green living and <br>
                    nurturing veins naturally 
                </span>  
            </p>
        </div>
        <div class="scroll1" data-aos="fade-up">
            <div class="img1">
                <img src="/assets/images/winetable.jpg" alt=" winetable"> 
            </div>
            <p>
                <span class="border"></span>  <span class="name color">WineGrowing</span>  .  <span class="date color">April 21,2020</span>
                <br><span class="comments color">0 Comments</span>
                <br><br>
                <span class="details">
                    Green living and <br>
                    nurturing veins naturally 
                </span>  
            </p>
        </div>
        <div class="scroll1" data-aos="fade-up">
            <div class="img1">
                <img src="/assets/images/waiter.jpg" alt=" winetable"> 
            </div>
            <p>
                <span class="border"></span>  <span class="name color">WineGrowing</span>  .  <span class="date color">April 21,2020</span>
                <br><span class="comments color">0 Comments</span>
                <br><br>
                <span class="details">
                    Green living and <br>
                    nurturing veins naturally 
                </span>  
            </p>
        </div>
    </div>
</div>