<div class="content">
    <div class="data">
        <p class="time">
            <span class="txt">Working hours</span><br><br>
            <span class="color">Mon-Fri: 9 AM – 6 PM <br> Saturday: 9 AM – 4 PM <br>
            Sunday: Closed</span>
        </p>
        <p class="office">
            <span class="txt">Office</span><br><br>
            <span class="color">
                Germany — <br>
                785 15h Street, Office 478 <br>
                Berlin, De 81566 <br><br>
                info@email.com 
            </span><br><br>
            <span class="number">+1 800 555 25 65</span>
        </p>
        <p class="links">
            <span class="txt">Links</span><br><br>
            <span class="color">
                <li><a href="">Home</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">Contact</a></li>
            </span>
        </p>
        <p class="soc">
            <span class="txt">Get in Touch</span> <br><br>
            <span class="fb"><i class="fa-brands fa-facebook-f"></i></span>&nbsp;&nbsp;<span class="tweet"><i class="fa-brands fa-x-twitter"></i></span>
            &nbsp;&nbsp;<span class="brow"><i class="fa-solid fa-globe"></i></span>&nbsp;&nbsp;<span class="ins"><i class="fa-brands fa-instagram"></i></span>
        </p>
    </div>
    <div class="bor"></div>
    <div class="copy">
        <p>AncoraThemes © 2024. All Rights Reserved.</p>
    </div>
</div>