<div class="img-section">
    <div class="club">
        <img src="/assets/images/club.jpg" alt=" club" class="clubimg">
    </div>
    <div class="many-image">
        <div class="grape">
            <img src="/assets/images/grape.jpg" alt="grape image" class="grapeimg">
        </div>
        <div class="icecream">
            <img src="/assets/images/buffet.jpg" alt="buffet" class="iceimg">
        </div>
        <div class="roll">
            <img src="/assets/images/roll.jpg" alt="roll" class="rollimg">
        </div>
        <div class="wineglass">
            <img src="/assets/images/clubwine.jpg" alt="Wine" class="winegimg">
        </div>
    </div>
</div>