<div class="bg">
    <div class="content">
        <p [ngClass]="'title'">WHAT WE OFFER</p>
        <p [ngClass]="'data'">Indulge in unforgettable <br> dining at our wine <br> restaurant</p>
    </div>
    <div class="candle" data-aos="fade-up"></div>
    <div class="winep"></div>
    <div class="wine" data-aos="fade-up"></div>
    <div class="content2">
        <p class="content2-data">Adipiscing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliqua. Ut enim ad minim <br>veniam, quis nostrud. Wiusmod tempor incididunt. </p>
    </div>
</div>