<div [ngClass]="['navbar-flex','container-fluid','fl']">
    <p [ngClass]="'title'"><img src="/assets/images/logo.png" alt=" logo"></p>
    <nav>
        <ul [ngClass]="'menu'">
            <li class="home">Home</li>
            <li class="page">Pages</li>
            <li class="blog">Blog</li>
            <li class="shop">Shop</li>
            <li class="contact">Contact</li>
            <li [ngClass]="'bars'"><i class="fa-solid fa-bars"></i></li>
        </ul>
    </nav>
    <div [ngClass]="'hi'">
        <p [ngClass]="'number'">18004585697</p>
        <button> LET'S TALK</button>
    </div>
</div>
<div class="home1">
    <p>Wine Restaurent</p>
    <li><a href="">Craft Beer pub</a></li>
    <li><a href="">Brewery</a></li>
    <li><a href="">YardVine</a></li>
    <li><a href="">Online Shop</a></li>
    <li><a href="">Local Liquor Shop</a></li>
</div>
<div class="page2">
    <li><a href="">About Us</a></li>
    <li><a href="">Our Mennnu</a></li>
    <li><a href="">Our Wine</a></li>
    <li><a href="">Our Beer</a></li>
    <li><a href="">Our Services</a></li>
    <li><a href="">Teaam</a></li>
    <li><a href="">FAQs</a></li>
    <li><a href="">Tools</a> &rarr;</li>
</div>
<div class="blog1">
    <li><a href="">Blog standard</a></li>
    <li><a href="">Blog List</a></li>
    <li><a href="">Blog Gird</a></li>
    <li><a href="" class="single" >Single post &nbsp; &rarr;</a></li>
</div>
<div class="single1">
    <li><a href="">Standard</a></li>
    <li><a href="">With Sidebar</a></li>
</div>
<div class="shop1">
    <li><a href="">Shop</a></li>
    <li><a href="">Cart</a></li>
    <li><a href="">Checkout</a></li>
    <li><a href="">Wishlist Page</a></li>
    <li><a href="" class="product">Single Product &nbsp; &rarr;</a></li>
</div>
<div class="product1">
    <li><a href="">Default</a></li>
    <li><a href="">Full Width</a></li>
    <li><a href="">Cascade</a></li>
    <li><a href="">Grid</a></li>
</div>