<div class="bg">
    <div class="content">
        <div class="content1" data-aos="fade-up">
            <p class="c1d1" >WHO WE ARE</p>
            <p class="c1d2">We offer an exquisite menu and a <br>
                great variety of wines for any occasion <br>
                <span class="color">and virtually every price point </span> 
            </p>
            <p class="c1d3">Piter Bowman <br>
               <span class="color2">Chief Administrator</span> </p>
        </div>
        <div class="bottle"></div>
        <div class="winegirl" data-aos="fade-up"></div>
        <div class="slog">
            <p class="slogtit">FOOD & WINE</p>
            <p class="slogdet">Our wine restaurant is <br> a real paradise for <br>gourmets</p>
        </div>
        <div class="btn">
            <p>Sed ut perspiciatis unde omnis iste natus error sit <br> voluptatem accusantium doloremque laudantium, <br> totam rem aperiam.</p>
            <button><a href="">ABOUT US</a></button>
        </div>
    </div>
</div>
