<div class="beer" data-aos="fade-up">
    <div class="wine-head"> 
        <h1>Wine</h1>
        <div class="border1"></div>
        <div class="border2"></div>
        <div class="wines">
            <p class="barrel"><img src="/assets/images/barrel.jpg" alt=" barrel wine" class="barrelimg"> &nbsp; Cabernet Sauvignon 
               &nbsp;&nbsp; <span class="line">....................</span> &dollar; &nbsp; 25 <br> <span class="color">Consectetur adipiscing elit</span>
            </p>
            <p class="barrel "><img src="/assets/images/grape.jpg" alt=" barrel wine" class="barrelimg"> &nbsp; Night Reserve Merlot 
               &nbsp;&nbsp; <span class="line">...................</span> &dollar; &nbsp; 35 <br> <span class="color">Consectetur adipiscing elit</span>
            </p>
            <p class="barrel "><img src="/assets/images/wine glass.jpg" alt=" barrel wine" class="barrelimg"> &nbsp; Pride Chardonnay
               &nbsp;&nbsp; <span class="line">......................</span> &dollar; &nbsp; 40<br> <span class="color">Consectetur adipiscing elit</span>
            </p>
        </div>
    </div>
    <div class="beef">
        <h1>Dishes</h1>
        <div class="border1"></div>
        <div class="border2"></div>
        <div class="wines">
            <p class="barrel"><img src="/assets/images/fork.jpg" alt=" barrel wine" class="barrelimg"> &nbsp; Ribeye Steak 
               &nbsp;&nbsp; <span class="line">...........................</span> &dollar; &nbsp; 40 <br> <span class="color">Consectetur adipiscing elit</span>
            </p>
            <p class="barrel "><img src="/assets/images/beef board.jpg" alt=" barrel wine" class="barrelimg"> &nbsp; Ribeye Steak 
               &nbsp;&nbsp; <span class="line">...........................</span> &dollar; &nbsp; 40 <br> <span class="color">Consectetur adipiscing elit</span>
            </p>
            <p class="barrel "><img src="/assets/images/beef knife.jpg" alt=" barrel wine" class="barrelimg"> &nbsp; Tenderloin Steak
               &nbsp;&nbsp; <span class="line">.......................</span> &dollar; &nbsp; 40<br> <span class="color">Consectetur adipiscing elit</span>
            </p>
        </div>
    </div>
</div>