<div [ngClass]="'bgi'">
    <app-nav [ngClass]="'nav'"></app-nav>
    <div class="content">
        <div class="content1" id="text">
            <p>Unveiling the Sceret</p>
        </div>
        <div class="content2">
            <p [ngClass]="'left'">Wine Pairings</p>
        </div>
        <div class="con-details">
            <p>Adipising elit, sed do eiusmod tempor incididunt <br>
            ut labore et dolore manga alique.Ut enim ad minim <br>
        veniam.Natus error sit voluptatem accusantium.</p>
        </div>
        <div class="arrow">
            <p class="down">&darr;</p>
        </div>
    </div>
</div>
<app-con2></app-con2>
<app-con3></app-con3>
<app-con4></app-con4>
<app-con5></app-con5>
<app-con6></app-con6>
<app-con7></app-con7>
<app-con8></app-con8>
<app-con9></app-con9>
<app-con10></app-con10>
<app-footer></app-footer>