<div class="content">
    <div class="reserve">
        <h1>Reserve a table</h1>
        <div class="form">
            <p><i class="fa-solid fa-user"></i>&nbsp; &nbsp; <input class="align p" type="text" placeholder="Name"></p>
            <p><i class="fa-regular fa-envelope"></i>&nbsp; &nbsp; <input class="align p" type="email" placeholder="email"></p>
            <p><i class="fa-solid fa-pencil"></i>&nbsp; &nbsp; <input type="text" class="align p" placeholder="How can we help? Freel free to get in touch"></p>
            <p class="check"><input type="checkbox" > &nbsp; &nbsp; &nbsp;I Agree that my data is collected</p>
            <button><i class="fa-solid fa-paper-plane"></i> &nbsp; &nbsp;Get in Touch</button>
        </div>
    </div>
    <div class="slogan">
        <img src="/assets/images/rosecup.png" alt="Rosecup" class="rose">
        <p class="details">
            <span class="title">CONTACT US</span> <br> <br><span class="head">Have questions? <br>Get in touch!</span><br><br>
            <span class="address"> 785 15h Street, Office 478 <br>Berlin, De 81566 <br> <br>[email protected]</span><br>
            <br><span class="phone">+1 840 841 25 69</span>
        </p><br>
        <p class="soc">
            <span class="fb"><i class="fa-brands fa-facebook-f"></i></span>&nbsp;&nbsp;<span class="tweet"><i class="fa-brands fa-x-twitter"></i></span>
            &nbsp;&nbsp;<span class="brow"><i class="fa-solid fa-globe"></i></span>&nbsp;&nbsp;<span class="ins"><i class="fa-brands fa-instagram"></i></span>
        </p>
    </div>
</div>